@import url('https://fonts.googleapis.com/css?family=Sacramento');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* --------------- Header Styling Zone ------------------- */
body > header > div > h2 {
  font-family: 'Sacramento',cursive;
  font-size: 62px;
  padding-top: 15px;
  margin-bottom: 1px;
  color: #4E6E5D;
}

body > header > div > h3 {
  display: block; 
  font-size: 18px;
  padding: 2px;
  font-family: 'Oswald',serif;
  font-weight: 200;
  margin-top: 3px;
}

header {
  text-align: center; 
}
/* --------------- Header Styling Zone ------------------- */


/* --------------- Nav Bar Styling Zone ------------------- */
.nav {
  background-color: #261C15; 
  text-align: center;
}

.nav li {
  display: inline;
  font-size: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: 'Oswald',serif;
}

.nav li a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: 14px 16px;
}

.nav li a:hover {
  background-color: #4E6E5D;
}
/* --------------- Nav Bar Styling Zone ------------------- */




/* --------------- General Styling Zone ------------------- */
img {
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  border: 3px solid #261C15;
}

body {
  background-color: #E4E6C3;
  text-align: center;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
}

h1, h2, h3 {
  font-family: 'Oswald', sans-serif
}

hr {
  border: 0;
  width: 50%;
  height: 5px;
  color: #261C15;
  background-color: #261C15;
}

section {
  margin: 75px;
}
/* --------------- General Styling Zone ------------------- */



/* --------------- Contact Info Styling Zone ------------------- */
.social {
  background-color: #261C15;
  border: solid 2px black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  border-radius: 5px;
}

.social a {
  text-decoration: none;
  color: #fff;
  font-family: 'Oswald',serif;
}

.social:hover {
  background-color: #4E6E5D;
}
/* --------------- Contact Info Styling Zone ------------------- */
